<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <section class="hero is-link is-small">
      <div class="hero-body">
        <p class="title is-1 has-text-white">
          Tech Blog
        </p>
      </div>
    </section>    
    <nav class="navbar is-spaced">
      <div class="navbar-end">
        {{#if logged_in}}
        <a class="button" href="/">Homepage </a> 
        <a class="button" href="/dashboard"> Dashboard </a> 
        <button class="button" id="logout"> Logout</button>
        {{else}}
        <a class="button" href="/">Homepage  </a> 
        <a class="button" href="/dashboard"> Dashboard </a> 
        <a class="button" href="/login"> Login</a>
        {{/if}}
      </div>
    </nav>

    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>

  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
