<div class="columns">
  <div class="column is-one-fourth">
    <h2 class="title is-2 has-text-white">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label class="label has-text-white" for="email-login">Email:</label>
        <input class="input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label class="label has-text-white" for="password-login">Password:</label>
        <input class="input" type="password" id="password-login" />
      </div>
      <br>
      <div class="form-group">
        <button class="button is-link" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="column is-one-fourth">
    <h2 class="title is-2 has-text-white">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label class="label has-text-white" for="name-signup">Name:</label>
        <input class="input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label class="label has-text-white" for="email-signup">Email:</label>
        <input class="input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label class="label has-text-white" for="password-signup">Password:</label>
        <input class="input" type="password" id="password-signup" />
      </div>
      <br>
      <div class="form-group">
        <button class="button is-link" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
